body{
  background-color: lightpink;
  text-align: center;
  font-size: medium;
  font-family: sans-serif;

}
ul {
  display: flex;        
  list-style: none;     
  gap: 15px;           
  padding: 0;
  margin: 0;
  align-items: center;
}
.login-btn{
  text-align: left;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius:20px;
  justify-content: space-between;
  display:inline-block;
  align-items: center;
  display:flex;
  

}
.Home-btn{

text-align: center;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius: 20px;
  justify-content: space-between;
  gap:15px;

}
.Cart-btn{

  text-align: center;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius: 20px;
}
.Men-btn{
text-align: center;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius: 20px;

}
.Women-btn{
text-align: center;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius: 20px;
}
  .SignUp-btn{
text-align: center;
  background-color: cornsilk;
  color: black;
  padding:20px;
  border-radius: 20px;

}
.Product-item{
  display:flex;
  gap:20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.product-card{
  gap:20px;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  width:200px;
background-color: rgb(219, 238, 163);
}
.product-card img{
width:100px;
height:120px;
object-fit: contain;

}
.Login-card{
display:flex;
flex-direction: column;
background-color: cadetblue;
text-align: center;
align-items: center;
margin-top: 20px;
color:black;
width:400px;
height:250px;
gap:15px;

}
.Login-Page{
   display: flex;
  justify-content: center;       
  height:100vh;
}
.Hero-Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.hero-img{
  margin-top: auto;
    width:1000px;
    height:350px;
    object-fit: contain;
}

.Sign-Up{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:20px;
 
  height:auto;

}
.Sign-Up input{
    width: 300px;
    height: 40px;
}